* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  background: url(bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #63b3e0;
  height: 10vh;
  width: 100%;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-right: 70px;
}
.logo-container {
  height: 10vh;
  margin-right: 700px;
  width: 30%;
  background-color: white;
}
.logo {
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  color: black;
  font-weight: 400;
  height: 10vh;
  margin-left: 80px;
  width: 60%;
}
.nav-links li {
  list-style: none;
  position: relative;
}
.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease-in;
}
.burger {
  cursor: pointer;
  display: none;
}
.nav-links a:before{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: -10px;
    width: 0%;
    transition: all 0.3s ease-in-out;
}
.nav-links a:hover:before{
    width: 100%; 
}
.text-area {
  float: left;
  margin-top: 100px;
  margin-left: 100px;
}
.home-title {
  font-size: 40px;
  line-height: 100px;
  color:#63b3e0;
}
.paragraph {
  text-align: left;
  font-size: 18px;
  color: rgb(189, 189, 189);
  line-height: 30px;
}
.read-more {
  width: 8%;
  position: absolute;
  margin-left: -350px;
  margin-top: 420px;
  background-color: #63b3e0;
  border: none;
  padding: 12px 15px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.read-more:hover,
.read-more:focus {
  transform: translateY(-1.2em);
}
.read-more a {
  text-decoration: none;
  color: white;
}

.intro {
  background-color: #44a6df;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background-color: #63b3e0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: fill 0.5s ease forwards 2.5s;
}
#logo path:nth-child(1){
  stroke-dasharray: 483.3992614746094;
  stroke-dashoffset:483.3992614746094;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
  stroke-dasharray: 550;
  stroke-dashoffset:550;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
  stroke-dasharray: 356.67;
  stroke-dashoffset:356.67;
  animation: line-anim 2s ease forwards 0.6s;
}


@keyframes line-anim{
  to{
      stroke-dashoffset: 0;
  }
} 

@keyframes fill {
  from{
      fill: transparent;
  }
  to{
      fill: white;
  }
  
}












@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
    background: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #63b3e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56.6%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    margin-right: -10px;
    line-height: 100px;
    z-index: 1;
  }
  .logo {
    margin-left: 360px;
  }
  .logo-container {
    display: block;
    margin-left: -370px;
    width: 50%;
  }
  .nav-links li {
    opacity: 1;
  }
  .nav-links a:before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 10px;
    width: 0%;
    transition: all 0.3s ease-in-out;
  }
  .burger {
    display: block;
    margin-left: -120px;
  }
  .text-area{
    margin-left:10px;
  }
  .home-title {
    line-height: 50px;
  }
  .read-more {
    width: 30%;
    margin-left: -400px;
    margin-top: 400px;
  }
  .read-more:hover,
  .read-more:focus {
    transition: none;
    transform: none;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
